<%= stylesheet_link_tag 'style', :plugin => 'redmine_report_filters' %>
<%= javascript_include_tag 'amcharts.js', :plugin => 'redmine_report_filters' %>
<%= javascript_include_tag plugin_chart, :plugin => 'redmine_report_filters' %>

<% if @table_results.present? && @table_results.count > 0 %>
    <%= render :partial => diagram %>
    <div id="chartdiv" style="width: 100%; min-height: 600px; height: auto;"></div>
    <br><br>
    <%= render :partial => table_data, :object => @table_results %>
<% else %>
    <p class="nodata">Нет данных для отображения</p>
<% end %>