<script>
    <%= (link_selected 'average_age_report').html_safe %>
</script>

<% content_for :sidebar do %>
    <%= render :partial => 'shared/sidebar_menu' %>
<% end %>

<h2><%= t(:average_age_report) %></h2>

<% if @not_configure.present? %>
    <%= render :partial => 'shared/not_configure' %>
<% end %>

<% if @not_configure.nil? %>
    <%= render :partial => 'shared/filters_form',
               :locals => {
                       :form_controller => 'project_reports',
                       :form_action => 'average_age_report',
                       :diagram_partial => 'shared/diagram/average_age_diagram',
                       :input_data => 'shared/inputs/average_and_created_vs_resolved',
                       :table_data => 'shared/tables/average_table',
                       :plugin_chart => 'serial.js'
               } %>
<% end %>