<script>
    <%= (link_selected 'pie_chart_report').html_safe %>
</script>

<% content_for :sidebar do %>
    <%= render :partial => 'shared/sidebar_menu' %>
<% end %>

<h2><%= t(:pie_chart_report) %></h2>

<% if @not_configure.present? %>
    <%= render :partial => 'shared/not_configure' %>
<% end %>

<% if @not_configure.nil? %>
    <%= render :partial => 'shared/filters_form',
               :locals => {
                       :form_controller => 'project_reports',
                       :form_action => 'pie_chart_report',
                       :diagram_partial => 'shared/diagram/pie_chart_diagram',
                       :input_data => 'shared/inputs/pie_chart',
                       :table_data => 'shared/tables/pie_table',
                       :plugin_chart => 'pie.js',
                       :diagram_type => 'pie'
               } %>
<% end %>