<script>
    $('.issues').removeClass('selected');
    $('.report').addClass('selected');
    $('#issue_report').css('font-weight', 'bold');
    $('#issue_report').css('color', 'black');
</script>
<h2><%=l(:label_report_plural)%></h2>
<% if @project.enabled_modules.where(:name => 'report_filters').first.present? %>

    <%= javascript_include_tag 'jquery.ui.datepicker.validation.min.js', :plugin => 'redmine_report_filters' %>
    <%= render :partial => 'shared/filters' %>
<% end %>

<div>

</div>

<div class="splitcontentleft">
  <h3><%=l(:field_tracker)%>&nbsp;&nbsp;<%= link_to image_tag('zoom_in.png'), project_issues_report_details_path(@project, :detail => 'tracker') %></h3>
  <%= render :partial => 'simple', :locals => { :data => @issues_by_tracker, :field_name => "tracker_id", :rows => @trackers } %>
  <br />
  <h3><%=l(:field_priority)%>&nbsp;&nbsp;<%= link_to image_tag('zoom_in.png'), project_issues_report_details_path(@project, :detail => 'priority') %></h3>
  <%= render :partial => 'simple', :locals => { :data => @issues_by_priority, :field_name => "priority_id", :rows => @priorities } %>
  <br />
  <h3><%=l(:field_assigned_to)%>&nbsp;&nbsp;<%= link_to image_tag('zoom_in.png'), project_issues_report_details_path(@project, :detail => 'assigned_to') %></h3>
  <%= render :partial => 'simple', :locals => { :data => @issues_by_assigned_to, :field_name => "assigned_to_id", :rows => @assignees } %>
  <br />
  <h3><%=l(:field_author)%>&nbsp;&nbsp;<%= link_to image_tag('zoom_in.png'), project_issues_report_details_path(@project, :detail => 'author') %></h3>
  <%= render :partial => 'simple', :locals => { :data => @issues_by_author, :field_name => "author_id", :rows => @authors } %>
  <br />
  <%= call_hook(:view_reports_issue_report_split_content_left, :project => @project) %>
</div>

<div class="splitcontentright">
  <h3><%=l(:field_version)%>&nbsp;&nbsp;<%= link_to image_tag('zoom_in.png'), project_issues_report_details_path(@project, :detail => 'version') %></h3>
  <%= render :partial => 'simple', :locals => { :data => @issues_by_version, :field_name => "fixed_version_id", :rows => @versions } %>
  <br />
  <% if @project.children.any? %>
      <h3><%=l(:field_subproject)%>&nbsp;&nbsp;<%= link_to image_tag('zoom_in.png'), project_issues_report_details_path(@project, :detail => 'subproject') %></h3>
      <%= render :partial => 'simple', :locals => { :data => @issues_by_subproject, :field_name => "project_id", :rows => @subprojects } %>
      <br />
  <% end %>
  <h3><%=l(:field_category)%>&nbsp;&nbsp;<%= link_to image_tag('zoom_in.png'), project_issues_report_details_path(@project, :detail => 'category') %></h3>
  <%= render :partial => 'simple', :locals => { :data => @issues_by_category, :field_name => "category_id", :rows => @categories } %>
  <br />
  <% @custom_fields.each do |t| %>
      <h3><%= t("#{t.name}") %>&nbsp;&nbsp;<%= link_to image_tag('zoom_in.png'), project_issues_report_details_path(@project, :detail => "custom_field_#{t.id}") %></h3>
      <%= render :partial => 'simple_subcat', :locals => { :custom_field => t, :data => @issues_by_subcategory, :field_name => "custom_field_id", :rows => t.possible_values } %>
      <br />
  <% end %>
  <%= call_hook(:view_reports_issue_report_split_content_right, :project => @project) %>
  <% content_for :sidebar do %>
      <%= render :partial => 'shared/sidebar_menu' %>
  <% end %>
</div>

